version: 2
updates:
  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 1
    directory: "/"
    schedule:
      interval: weekly
    groups:
      gha-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    cooldown:
      default-days: 1
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      gradle-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    cooldown:
      default-days: 1
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      npm-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "puppeteer-screen-recorder"
        versions:
          - "3.0.5"
          - "3.0.6"
  - package-ecosystem: pip
    cooldown:
      default-days: 1
    directory: "/"
    schedule:
      interval: weekly
    groups:
      python-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    cooldown:
      default-days: 1
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "python"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
