<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head (_)"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="admin-container">
    <h1><a href="/" data-i18n="admin:home">UK iXBRL Viewer</a></h1>
    <h2 data-i18n="admin:coho.history.header">Companies House Bulk Downloads</h2>
    <h3 data-i18n="admin:coho.history.daily">Daily</h3>
    <ul>
        <th:block th:each="link : ${dailyLinks}">
            <li>
                <a th:href="${link}" th:text="${link}"></a>
            </li>
        </th:block>
    </ul>
    <h3 data-i18n="admin:coho.history.monthly">Monthly</h3>
    <ul>
        <th:block th:each="link : ${monthlyLinks}">
            <li>
                <a th:href="${link}" th:text="${link}"></a>
            </li>
        </th:block>
    </ul>
    <h3 data-i18n="admin:coho.history.archive">Archive</h3>
    <ul>
        <th:block th:each="link : ${archiveLinks}">
            <li>
                <a th:href="${link}" th:text="${link}"></a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>
